{
	"extends": ["airbnb-base", "plugin:prettier/recommended"],
	"env": {
		"browser": true
	},
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module",
		"ecmaFeatures": {
			"modules": true
		}
	},
	"globals": {
		"ROOM_SIZE": "readonly",
		"ROOM_PX": "readonly",
		"TILE_PX": "readonly",
		"FIELD": "readonly",
		"FIELDS": "readonly",
		"CONFIG": "readonly",
		"BipsiPlayback": "readonly",
		"DialoguePlayback": "readonly",
		"BipsiEditor": "readonly",
		"EventEditor": "readonly",
		"SCRIPTING_FUNCTIONS": "readonly",
		"STANDARD_SCRIPTS": "readonly",
		"WALK_DIRECTIONS": "readonly",
		"AsyncFunction": "readonly",
		"wrap": "readonly"
	},
	"rules": {
		"indent": "off", // prettier handles indentation
		"max-len": "off", // just apply common-sense
		"no-param-reassign": "off", // necessary for most hacks
		"no-new-func": "off", // necessary for custom function implementations via plugin options

		// for dev accessibility
		// e.g. helpers from body called in hackOptions,
		// var declarations co-located with relevant functions,
		// etc.
		"no-console": "off",
		"no-unused-vars": ["error", {
			"vars": "all",
			"args": "none"
		}],
		"vars-on-top": "off",
		"no-use-before-define": "off",

		// don't prefer fancy stuff to account for lack of babel
		"import/prefer-default-export": "off",
		"import/no-default-export": "error",
		"import/no-mutable-exports": "off",

		// i just like using these 🤷‍♀️
		"no-multi-assign": "off",
		"no-plusplus": "off",
		"no-continue": "off",
	}
}
